CompileFlags:
  Remove:
    - "mthumb-interwork"
    - "Wunused-variable"

  Add:
    - "-ID:/Newtoolchain/STM32CubeCLT_1.19.0/GNU-tools-for-STM32/arm-none-eabi/include"

Diagnostics:
  UnusedIncludes: None
  Suppress:
    - "-Wunused-variable"
